/* TODO HTML Bolierplate */

html, body {
    height: 100%;
    margin: 0;
}

#diagram_editor {
    height: 100%;
    width: 80%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: auto;
}

#diagram_elements_area {
    width: 20%;
    height: 100%;
    float: left;
}

#editor_area {
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    background: #f8f8f8;
    z-index: 0;
}

.diagram_element {
    width: 3em;
    height: 3em;
    line-height: 3em;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#editor_area .diagram_element {
    position: absolute;
}


#diagram_elements_area .diagram_element {
    margin: 1em auto;
}

.squere {
    border: 1px solid #9999ff;
}

.circle {
    border: 1px solid #ff6666;
    border-radius: 3em;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 2em solid transparent;
    border-right: 2em solid transparent; 
    border-top: 4em solid #66ff66;
}

.start {
    width: 20%;
    height: 4em;
    border: 1px solid #000;
}

#editor_area .start {
    left: 40%;
}

.diamond { 
    width: 0; 
    height: 0; 
    border: 2em solid transparent; 
    border-bottom-color: red; 
    position: relative; 
    top: -2em; 
} 

.diamond:after { 
    content: ''; 
    position: absolute; 
    left: -2em; 
    top: 2em; 
    width: 0; 
    height: 0; 
    border: 2em solid transparent; 
    border-top-color: red; 
}


/* Test styles */
#container3,
#container2,
#container1,
#container0 {
    width: 6em;
    height: 5em;
    position: absolute;
    left: 10%;
    top: 100%;
    border: 1px solid red;
}

#container1 {
    width: 20em;
    left: 50%;
    top: 150%;
}

#container2 {
    width: 5em;
    height: 5em;
    left: 0%;
    top: 150%;
}

#container3 {
    width: 5em;
    height: 5em;
    left: 20%;
    top: 150%;
}
